.wrapper {
  padding: 2%;
}

.banner {
  height: 50px;
  background-color: var(--red1);
  padding: 1%;
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.banner-title {
  color: whitesmoke;
  z-index: 1;
  font-size: xx-large;
  margin-left: 1%;
}

@keyframes rotate-logo {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  margin-left: -9%;
}

.logo:hover {
  animation: rotate-logo 3s linear infinite;
}

.flex-cont {
  display: flex;
}

.cent-align {
  align-items: center;
}

.cent-just {
  justify-content: center;
}

.auth-btn {
  font-size: large;
  padding: 5%;
}

.auth-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signup {
  background-color: whitesmoke;
  color: black;
  border: none;
  transition: 0.3s;
}

.signup:hover {
  background-color: black;
  color: whitesmoke;
}

.login {
  background: none;
  border: solid whitesmoke;
  color: whitesmoke;
  transition: 0.3s;
}

.login:hover {
  color: black;
  border: solid whitesmoke;
  background-color: whitesmoke;
}

