body, button {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Play', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --red1: #CD0B0B;
}